/* Ana Form */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

.order-form {
  margin: 0 auto;
  padding: 1.25rem; 
  background-color: #fff;
 
  height: 82vh;
  display: flex;
  font-family: sans-serif, "Barlow";
  flex-wrap: wrap;
  max-width: 37.5rem; 
}
.card {
  background-color: #f9f9f9;
  padding: 1.25rem; 
  margin-bottom: 1.25rem;
  border: none !important;
  
   
}
.extra-malzemeler{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

}

.name-input {
  width: 100%;
}
.name-input input{
  width:30rem;
  border-radius: 0.3rem;;
}
.pizza-details {
  width: 100%;
  
}
.pizza-details h1{
  font-size:1.2rem;
  font-weight: 100;
  margin-bottom: 15px;
}
.pizza-details h2{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 15px;
}
.pizza-details p{
  font-size: 1rem;
}

.size-selection {
  width: 17.5rem;

}
.size-selection label{
  font-size:1rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.bold-boyut{
  font-weight: bold;
  
}
.dough-selection {
  width: 17.5em;
}
.dough-selection label{
  font-size: 1rem;
}
.extras-selection {
  width: 100%;
}
.extras-selection label{
  font-size:1rem;
  padding-left: 0.5rem;
  
}

.card-body button {
  background-color: #FDC913;
  color: black;
}

.order-button {
  width: 23rem;
}

.order-note {
  width: 100%;
}

.order-note textarea {
  width: 30rem;
  border-radius: 0.3rem;
}

.total-price {
  margin-left: 1rem;
    width: 17rem;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
}

.quantity button {
 
  border: none;
  padding: 0.6rem 1.25rem; /* 10px 20px => 0.625rem 1.25rem */
  font-size: 1.25rem; /* 20px => 1.25rem */
  cursor: pointer;
  border-radius: 0.3rem; 
  transition: background-color 0.3s ease;
}

.quantity button:hover {
  background-color: #dcaf0e;
}

.quantity span {
  font-size: 1.25rem; 
  font-weight: bold;
  padding: 0.6rem 1rem; 
  border: 0.1rem solid #FDC913; 
  border-radius: 0.3rem; 
  display: inline-block;
  width: 2.5rem; 
  text-align: center;
  background-color: #f1f1f1;
}

.order-button button {
  width: 55%;
}
@media (max-width: 420px) {
  .order-form{
    width: 177.5vh;
  }
  .size-selection{
    width: 25rem;
  }
  .dough-selection{
    width: 25rem;
  }
}