/* Ana Form */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

.order-form {

    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    height: 82vh;
    display: flex;
    font-family: sans-serif, "Barlow";
    flex-wrap: wrap;
    max-width: 60%;
  
    font-family: "Barlow";
  }

  .card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  .name-input{
    width: 100%;
  }
  .pizza-details{
    width: 100%;
  }
  .size-selection{
    width: 357px;
  }
  .dough-selection{
    width: 357px;
  }
  .extras-selection{
    width: 100%;

  }
  .card label {
    font-size: 16px;
    margin-bottom: 10px;
   
  }
 .card-body button {
  background-color:  #FDC913;
  color: black;

 }
 
 .order-button{
  width: 357px;
 }

 .order-note {
  width: 100%;
 }
 .order-note textarea{
  width: 600px;
 }
 .total-price{
  margin-left: 10px;
  
 }

.quantity {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
  
}

.quantity button {
 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 20px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.quantity button:hover {
  background-color:#dcaf0e;
}

.quantity span {
  font-size: 20px; 
  font-weight: bold; 
  padding: 10px 15px; 
  border: 2px solid #FDC913;
  border-radius: 5px; 
  display: inline-block; 
  width: 40px; 
  text-align: center; 
  background-color: #f1f1f1; 
}


.order-button button{
  width:100%
}
