@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  display: flex;
  justify-content: center;
}
.homepage{
  background-image: url('./images/iteration-1-images/home-banner.png');
  height: 75vh;
    background-size: cover;
    background-position: center ;
    display: flex;
    flex-direction: column;
   align-items: center;
  color:white;
  
}
.homepage h1{
  font-family: 'satisfy';
  color: #FDC913;
}
.homepage h2{
  width: 300px;
  text-align: center;
  font-weight: 100;
}
.homepage button{
  background-color: #FDC913;
  color: black;
  border-radius: 5em;
}
.confirmation{
  background-color: #CE2829;
  height: 82vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
  
}
.confirmation h1{
  font-family: 'satisfy';
  color: yellow;
}

.confirmation h2 {
  display: block;
  font-size: 3.5rem;
  margin: 8px 0;
  color: white;
  text-align: center;
}
.siparis{

  width:80%;
 

}
.confirmation button{
  border-radius: 1rem;
}

.toplam-özet{
  border: 1px solid white;
  width: 70%;
  height: 40%;
  padding: 20px;
  text-align: center;
  border-radius: 0.3rem;
  margin-bottom: 10px;
  text-align: start;
}
.tebrik{
  width: 30%;
  text-align: center;
  border-bottom: 1px solid;
}
.tebrik h2{
  font-family: 'Barlow';
  font-size: 50px;
}
.ozet{
  text-align: start;
  margin-top: 15px;
  background-color: #CE2829;
  font-weight: 100;
  padding: 1rem;
  margin-bottom: 20px;
  padding-left: 6rem;
  font-family: 'Barlow';
 

}
.ozet p{
color: white;
font-size: 1rem;
font-family: 'Barlow';
}


  @media (max-width: 420px) {
  .homepage {

    width: 800px;
     
  
  }
  .homepage h2{
    font-size: 2rem;
        width: 400px;
       
        text-align: center;
        font-weight: 100;

  }
  .homepage button {
   
    font-size: 1rem; /* Buton yazı boyutunu küçültüyorum */
  }

  .confirmation{
        padding: 600px 400px;
  }
  .tebrik{
    width: 100vh;

  }
  .ozet{
    text-align: start;
    width: 400px;
    margin-top:20px;
  
  }
  .ozet p{
  color: white;
  font-size: 1rem;
  }
  .footer{
    width: 800px;
  }
  .deails{
    margin-left: 2rem;
    width: 700px;

  }
  .kart-container h3{
    font-size: 0.8rem;
  }
  .kart-container {
    width: 760px;
  }
  .top-rated-container{
    width: 760px;
  }
  .card-container{
    width: 760px;
  }
  .order-form{
    width: 800px;
  }
  .footer{
    padding-left: 3rem;
  }
  .instagram{
    padding-left: 3rem;
    margin-top: 1rem; 
}
.instagram img{
  padding: 5px;
}

  }